---
layout: default
title: Home
---

<h1>About the Manasource organisation</h1>

<p>Manasource is a federated group of autonomous development projects focused on free open source videogame software.
Besides publishing other software, Manasource aims to build its own complete 2D MMORPG platform in its main game project: The Mana World. This includes a client, server and web component.</p>

<p>The organisation manages multiple projects including The Mana World, Source of Mana, Moubootaur Legends, the Mana and Manaverse clients, the Mana Launcher (Steam) client and more. We also maintain a library of shared content produced over the years by various past and current projects and make such content available under GPL and/or CC BY-SA 4.0 licenses.</p>

<p>Find us on IRC, Discord, Matrix and more: <a href ="https://wiki.themanaworld.org/wiki/Chat">Chat directory</a>.</p>

<p>Manasource is a member of <a href="https://www.spi-inc.org/">Software in the Public Interest</a> (SPI).</p>

<h2>The Mana World</h2>

<p>The Mana World (TMW) is a serious effort to create an innovative free and open source MMORPG. TMW uses 2D graphics and aims to create a large and diverse interactive world. It is licensed under the GPL, making sure this game can't ever run away from you.</p>

<p>Explore this large, ever expanding world to defeat monsters, help NPCs and team up with friends as you achieve your goals. Get your weapons, armor and equipment through quests, monsters or crafting. Play mini-games, go on complex investigations or slay powerful bosses. Hang out in town, socialize or attend player organized events. Wear your boots and grab your sword, adventure waits for you!</p>

<h2>Moubootaur Legends</h2>

<p>Moubootaur Legends is a game constantly growing, developed with the feedback from players. It features a small community, and being open source, anyone can contribute to the game.</p>

<p>Although the game is better played with friends, one may play it alone without difficulty. We keep adding more options to the game as the players request it (and as time allows us to). The game story is flexible, and it changes based on quests which are done by all players cooperatively. But not only with cooperation a MMORPG is done, and we feature competitivity and ranked events when it is suitable as well.</p>

<h2>Source of Mana</h2>

<p>Source of Mana is a 2D MMORPG using Godot to provide a modern player experience for a classic style of game that never really goes out of fashion. In Source of Mana you can live your medieval fantasy RPG adventure with friends and explore a world of magical tales and just pure silly fun.</p>

<p>SoM is in the very early stages of development and updates will come soon. Stay tuned and join us on Discord or IRC to discuss the project!</p>

<h2>Mana</h2>

<p>The Mana project, founded in 2009, seeks to resume development on its upgraded client and eventually server components. Its client is formerly TMW's official client and is in development for re-deployment.</p>

<h1>Our history</h1>

<p>The Mana World started in 2004 as a single server/client game project. In 2009, it spawned the Mana project to separate development from the established player community. Ever since the early years of development The Mana World continued to inspire new game projects and other related applications.</p>

<p>The Mana project was retired in 2014 and new developers decided to reverse direction and grow closer to their community. This enabled another 8 years of development. Eventually, the same desire to operate in a multi-game environment that had inspired the Mana project led The Mana World to become itself a multi-game environment in 2022.</p>

<p>In 2024, 20 years since the beginning of our story, we have adopted the name Manasource to represent the organisation. <a href="http://themanaworld.org/">The Mana World</a> is our original game title currently in active development, available and free to play. We also offer Moubootaur Legends as our second playable title. We have many other projects including Source of Mana and our client projects Manaverse (direct download) and Mana Launcher (Steam).</p>


<h1>Recent News</h1>

{% for post in site.categories.news limit:3 %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {{ post.content }}
  <p><i>{{ post.author }} - {{ post.date | date_to_string }}</i></p>
{% endfor %}

<p><a href="{{ site.basepath }}/news.html">News Archive</a></p>
