---
layout: default
title: News
---

<h1>News</h1>

{% for post in site.categories.news %}
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  {{ post.content }}
  <p><i>{{ post.author }} - {{ post.date | date_to_string }}</i></p>
{% endfor %}
