<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>manasource.org</title>

    <link rel="shortcut icon" href="{{ site.basepath }}/gfx/mana-logo-16.png" type="image/png">
    <link rel="icon" href="{{ site.basepath }}/gfx/mana-logo-16.png" type="image/png">

    <link rel="stylesheet" type="text/css" href="{{ site.basepath }}/gfx/style.css">
  </head>

  <body>
    <div id="area">

      <div id="main">
        <div id="irc_hint">
          <a href="irc://irc.libera.chat/mana">#mana<br />irc.libera.chat</a>
        </div>
        <h1>
          <a href="{{ site.basepath }}/"><img src="{{ site.basepath }}/gfx/manasource-logo.png"
            height="89" alt="mana source"/>
          </a>
        </h1>
        <div id="navigation">
          <ul>
            <li><a href="{{ site.basepath }}/news.html">News &laquo;</a></li>
            <li><a href="{{ site.basepath }}/development">Development &laquo;</a></li>
            <li><a href="https://doc.manasource.org/">Documentation &laquo;</a></li>
            <li><a href="{{ site.basepath }}/support">Support &laquo;</a></li>
            <li><a href="https://wiki.themanaworld.org/wiki/Downloads">Downloads &laquo;</a></li>
          </ul>
        </div>
        <div id="content">
