/*
color definitions:
    orange in logo:     #ff6600;
    gray in logo:       #919191;
    background:         #fffcf2;
*/

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Verdana', sans-serif;
    background-color: #919191;
}

#area {
    margin: 0px 10px auto 10px;
    min-height: 800px;
    background-image: url(manasource-logo-bg.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

#main {
    max-width: 900px;
    padding: 20px;
    margin: 20px auto 20px auto;
    border-radius: 10px;
    background-color: #fffcf2;
}

#content {
    margin: 0px 200px 0px 5px;
    font-size: 12px;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#irc_hint {
    float: right;
    font-size: 8pt;
}

#irc_hint a {
    color: #a0a070;
}

h1 {
    margin: 20px 0px 20px 0px;
    padding: 5px 0px 0px 0px;
    color: #ff6600;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: normal;
}

h2 {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
    font-weight: bold;
}

h3 {
    font-size: 14px;
    font-weight: bold;
}

/* Navigation */
#navigation {
    float: right;
    margin: 20px 0px 0px 10px;
    font-size: 14px;
    text-align: right;
    padding: 5px 10px 5px 5px;
}

#navigation ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

#navigation li {
    padding: 3px;
    height: 30px;
    font-size: 15px;
}