{% include header.html %}

<h1>{{ page.title }}</h1>
{{ content }}

<p><i>{{ page.author }} - {{ page.date | date_to_string }}</i></p>

<h4><a href="{{ site.basepath }}/news.html">News Archive</a></h4>

{% include footer.html %}
